<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navig"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
    <jhi-phase1></jhi-phase1>
    <jhi-phase2></jhi-phase2>
    <jhi-phase3></jhi-phase3>
    <jhi-phase4></jhi-phase4>
    <jhi-phase5></jhi-phase5>
    <jhi-footer></jhi-footer>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>

