<div class="phase4">
    <div class="wrapper">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Quis nibh sollicitudin faucibus</h6>
                <p>Nec faucibus nisi fusce ultricies mi non mattis mollis velit</p>
            </div>
            <div class="group latest">
                <article class="one_third first"><a class="imgover btmspace-30" href="#"><img src="./../../../content/images/demo/320x240.png" alt=""></a>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                    </ul>
                    <h6 class="heading font-x1">Leo fermentum risus nec</h6>
                    <p>Aliquet erat nisi in nisi in vel porttitor leo proin eget volutpat lorem donec a ipsum nunc dui enim sollicitudin eget&hellip;</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
                <article class="one_third"><a class="imgover btmspace-30" href="#"><img src="./../../../content/images/demo/320x240.png" alt=""></a>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                    </ul>
                    <h6 class="heading font-x1">Faucibus vitae dignissim</h6>
                    <p>Sit amet libero nam gravida eros eget quam porttitor iaculis phasellus ultrices turpis sapien mauris tortor pulvinar&hellip;</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
                <article class="one_third"><a class="imgover btmspace-30" href="#"><img src="./../../../content/images/demo/320x240.png" alt=""></a>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                    </ul>
                    <h6 class="heading font-x1">Pretium molestie pretium</h6>
                    <p>Consequat ante duis non lobortis urna integer vehicula ex non ante ultricies maximus sed tempus felis non enim&hellip;</p>
                    <footer><a href="#">Read More</a></footer>
                </article>
            </div>
            <footer class="center"><a class="btn" href="#">Rhoncus mi congue &raquo;</a></footer>
            <!-- ################################################################################################ -->
        </section>
    </div>
</div>
