<div class="phase2">
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Praesent ex malesuada</h6>
                <p>Quis mollis sit amet semper eget nulla cras tellus purus tincidunt</p>
            </div>
            <article class="group">
                <div class="one_half first">
                    <h6 class="heading">Eu tincidunt eget viverra at ante donec mattis justo</h6>
                    <p>Hendrerit nisl et euismod quam semper eget vel viverra nibh phasellus accumsan mauris elit eget fringilla dolor aliquet id etiam interdum non eros sagittis hendrerit cras ac lectus ut arcu bibendum tincidunt eget id nisl ut.</p>
                    <p class="btmspace-30">Iaculis vehicula tristique ut gravida scelerisque mattis non erat a lectus tincidunt maximus aliquam sed ex quis nec maximus urna integer nec est sapien quisque pulvinar bibendum interdum donec a lacus diam cras sem ipsum finibus non volutpat nec&hellip;</p>
                    <footer><a class="btn" href="#">Read More &raquo;</a></footer>
                </div>
                <div class="one_half"><a class="imgover" href="#"><img src="./../../../content/images/demo/480x360.png" alt=""></a></div>
            </article>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <div class="wrapper row2 bgded overlay" style="background-image:url('./../../../content/images/demo/backgrounds/02.png');">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h6 class="heading">Rhoncus turpis fusce</h6>
                <p>Est venenatis nec rutrum a in velit curabitur vestibulum tellus</p>
            </div>
            <ul class="nospace group services">
                <li class="one_quarter first"><i class="fa fa-4x fa-chain-broken btmspace-30"></i>
                    <h6 class="heading font-x1">Justo purus nunc</h6>
                    <ul class="nospace">
                        <li><i class="fa fa-link"></i> <a href="#">Sed consectetur efficitur</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Nam rhoncus quam enim</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Ut eleifend felis scelerisque</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Nullam euismod elementum</a></li>
                    </ul>
                </li>
                <li class="one_quarter"><i class="fa fa-4x fa-expeditedssl btmspace-30"></i>
                    <h6 class="heading font-x1">Quis sodales mattis</h6>
                    <ul class="nospace">
                        <li><i class="fa fa-link"></i> <a href="#">Mi a commodo velit suscipit</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Eu nulla ex massa aliquam</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">At dictum in malesuada</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Sit amet tortor vestibulum</a></li>
                    </ul>
                </li>
                <li class="one_quarter"><i class="fa fa-4x fa-hourglass-2 btmspace-30"></i>
                    <h6 class="heading font-x1">Tortor neque rutrum</h6>
                    <ul class="nospace">
                        <li><i class="fa fa-link"></i> <a href="#">Vulputate orci quis velit</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Mollis in vehicula arcu</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Malesuada mauris ac</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Condimentum tortor ac</a></li>
                    </ul>
                </li>
                <li class="one_quarter"><i class="fa fa-4x fa-snowflake-o btmspace-30"></i>
                    <h6 class="heading font-x1">Lacus condimentum</h6>
                    <ul class="nospace">
                        <li><i class="fa fa-link"></i> <a href="#">Fermentum diam sed lacinia</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Sit amet ipsum ac rutrum</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">In a iaculis orci quis</a></li>
                        <li><i class="fa fa-link"></i> <a href="#">Vehicula nibh nulla vel</a></li>
                    </ul>
                </li>
            </ul>
            <footer class="center"><a class="btn" href="#">Nulla facilisi cum &raquo;</a></footer>
            <!-- ################################################################################################ -->
        </section>
    </div>
</div>
