<div class="navig">

        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <!-- ################################################################################################ -->
                <ul class="nospace">
                    <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                    <li><a href="#" title="Call Us"><i class="fa fa-phone"></i></a></li>
                    <li><a href="#" title="Send a Mail"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="#" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
                    <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
                </ul>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <!-- ################################################################################################ -->
                <div id="logo" class="fl_left">
                    <h1><a href="index.html">Miresa</a></h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a class="drop" href="#">Pages</a>
                            <ul>
                                <li>
                                    <a class="dropdown-item" routerLink="gallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                        <span>Gallery</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="full-width" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                        <span>Full Width</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="sidebar-left" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                        <span>Sidebar Left</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="sidebar-right" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                        <span>Sidebar Right</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="basic-grid" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                        <span>Basic Grid</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="drop" href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">Level 2</a></li>
                                <li><a class="drop" href="#">Level 2 + Drop</a>
                                    <ul>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Level 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Link Text</a></li>
                        <li><a href="#">Link Text</a></li>
                    </ul>
                </nav>
                <!-- ################################################################################################ -->
            </header>
        </div>

</div>
